{% extends 'base.html' %} {% block content %}
<!-- <section class="home"> -->
<section class="home">
  <div>
    <section>
      <!-- Check All the task -->
      <div class="max-w-3xl mx-auto">
        <div
          class="p-4 max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700"
        >
          <div class="flex justify-between items-center mb-4">
            <h3
              class="text-xl font-bold leading-none text-gray-900 dark:text-white"
            >
              Your Assigned Tasks
            </h3>
            <a
              href="#"
              class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500"
            >
              View all
            </a>
          </div>
          <div class="flow-root">
            <ul
              role="list"
              class="divide-y divide-gray-200 dark:divide-gray-700"
            >
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <label class="flex justify-start items-start">
                      <div
                        class="bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500"
                      >
                        <input type="checkbox" class="opacity-0 absolute" />
                        <svg
                          class="fill-current hidden w-4 h-4 text-green-500 pointer-events-none"
                          viewBox="0 0 20 20"
                        >
                          <path d="M0 11l2-2 5 5L18 3l2 2L7 18z" />
                        </svg>
                      </div>
                    </label>
                    <style>
                      input:checked + svg {
                        display: block;
                      }
                    </style>
                  </div>
                  <div class="flex-1 min-w-0">
                    <p
                      class="text-sm font-medium text-gray-900 truncate dark:text-white"
                    >
                      Task Title
                    </p>
                    <p
                      class="text-sm text-gray-500 truncate dark:text-gray-400"
                    >
                      Assigned By: Om Jogani
                    </p>
                  </div>
                  <div
                    class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
                  >
                    Due Date<br />
                    25-03-2022
                  </div>
                </div>
              </li>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <label class="flex justify-start items-start">
                      <div
                        class="bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500"
                      >
                        <input type="checkbox" class="opacity-0 absolute" />
                        <svg
                          class="fill-current hidden w-4 h-4 text-green-500 pointer-events-none"
                          viewBox="0 0 20 20"
                        >
                          <path d="M0 11l2-2 5 5L18 3l2 2L7 18z" />
                        </svg>
                      </div>
                    </label>
                  </div>
                  <div class="flex-1 min-w-0">
                    <p
                      class="text-sm font-medium text-gray-900 truncate dark:text-white"
                    >
                      Task Title
                    </p>
                    <p
                      class="text-sm text-gray-500 truncate dark:text-gray-400"
                    >
                      Assigned By: Preet
                    </p>
                  </div>
                  <div
                    class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
                  >
                    Due Date<br />
                    21-03-2022
                  </div>
                </div>
              </li>

              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <label class="flex justify-start items-start">
                      <div
                        class="bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500"
                      >
                        <input type="checkbox" class="opacity-0 absolute" />
                        <svg
                          class="fill-current hidden w-4 h-4 text-green-500 pointer-events-none"
                          viewBox="0 0 20 20"
                        >
                          <path d="M0 11l2-2 5 5L18 3l2 2L7 18z" />
                        </svg>
                      </div>
                    </label>
                  </div>
                  <div class="flex-1 min-w-0">
                    <p
                      class="text-sm font-medium text-gray-900 truncate dark:text-white"
                    >
                      Task Title
                    </p>
                    <p
                      class="text-sm text-gray-500 truncate dark:text-gray-400"
                    >
                      Assigned By: Preet
                    </p>
                  </div>
                  <div
                    class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
                  >
                    Due Date<br />
                    21-03-2022
                  </div>
                </div>
              </li>

              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <label class="flex justify-start items-start">
                      <div
                        class="bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500"
                      >
                        <input type="checkbox" class="opacity-0 absolute" />
                        <svg
                          class="fill-current hidden w-4 h-4 text-green-500 pointer-events-none"
                          viewBox="0 0 20 20"
                        >
                          <path d="M0 11l2-2 5 5L18 3l2 2L7 18z" />
                        </svg>
                      </div>
                    </label>
                  </div>
                  <div class="flex-1 min-w-0">
                    <p
                      class="text-sm font-medium text-gray-900 truncate dark:text-white"
                    >
                      Task Title
                    </p>
                    <p
                      class="text-sm text-gray-500 truncate dark:text-gray-400"
                    >
                      Assigned By: Preet
                    </p>
                  </div>
                  <div
                    class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
                  >
                    Due Date<br />
                    21-03-2022
                  </div>
                </div>
              </li>

              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <label class="flex justify-start items-start">
                      <div
                        class="bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500"
                      >
                        <input type="checkbox" class="opacity-0 absolute" />
                        <svg
                          class="fill-current hidden w-4 h-4 text-green-500 pointer-events-none"
                          viewBox="0 0 20 20"
                        >
                          <path d="M0 11l2-2 5 5L18 3l2 2L7 18z" />
                        </svg>
                      </div>
                    </label>
                  </div>
                  <div class="flex-1 min-w-0">
                    <p
                      class="text-sm font-medium text-gray-900 truncate dark:text-white"
                    >
                      Task Title
                    </p>
                    <p
                      class="text-sm text-gray-500 truncate dark:text-gray-400"
                    >
                      Assigned By: Preet
                    </p>
                  </div>
                  <div
                    class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
                  >
                    Due Date<br />
                    21-03-2022
                  </div>
                </div>
              </li>

              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <label class="flex justify-start items-start">
                      <div
                        class="bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500"
                      >
                        <input type="checkbox" class="opacity-0 absolute" />
                        <svg
                          class="fill-current hidden w-4 h-4 text-green-500 pointer-events-none"
                          viewBox="0 0 20 20"
                        >
                          <path d="M0 11l2-2 5 5L18 3l2 2L7 18z" />
                        </svg>
                      </div>
                    </label>
                  </div>
                  <div class="flex-1 min-w-0">
                    <p
                      class="text-sm font-medium text-gray-900 truncate dark:text-white"
                    >
                      Task Title
                    </p>
                    <p
                      class="text-sm text-gray-500 truncate dark:text-gray-400"
                    >
                      Assigned By: Preet
                    </p>
                  </div>
                  <div
                    class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
                  >
                    Due Date<br />
                    21-03-2022
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text"></div>
      <!-- assign task -->
      <div
        class="w-full max-w-lg px-10 py-8 mx-auto bg-white rounded-lg shadow-xl"
      >
        <div class="max-w-md mx-auto space-y-6">
          <form action="">
            <h2 class="text-2xl font-bold">Assign Work</h2>
            <p class="my-4 opacity-70">Assign Work to Employee</p>
            <hr class="my-5" />
            <label for="name" class="leading-7 text-sm text-gray-600"
              >Work Title</label
            >
            <input
              type="text"
              class="p-3 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"
            />
            <label for="name" class="leading-7 text-sm text-gray-600"
              >Work Description</label
            >
            <textarea
              id="message"
              name="message"
              class="p-5 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none resize-none leading-6 transition-colors duration-200 ease-in-out"
            ></textarea>
            <label class="uppercase text-sm font-bold opacity-70"
              >Select Employee</label
            >
            <select
              class="w-full p-3 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"
            >
              <option value="">-- SELECT --</option>
              <option value="">Javascript</option>
              <option value="">Ruby</option>
              <option value="">Python</option>
              <option value="">PHP</option>
              <option value="">Java</option>
            </select>
            <input
              type="submit"
              class="py-3 px-6 my-2 bg-emerald-500 text-white font-medium rounded hover:bg-indigo-500 cursor-pointer ease-in-out duration-300"
              value="Send"
            />
          </form>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- </section> -->
{% endblock %}
